## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [12]:
data = {'國家': ['Taiwan', 'Japan', 'Korea', 'Thailand', 'Hong Kong'],
        '人口': 10000 * np.random.rand(5)}

data = pd.DataFrame(data)
data.head()

            人口         國家
0  4095.362338     Taiwan
1  6077.354870      Japan
2   726.751952      Korea
3  8973.267914   Thailand
4  1704.940260  Hong Kong

In [27]:
print("人口最多的國家是 : " , data['國家'][ data['人口'].idxmax()])
print("人口最少的國家是 : " , data['國家'][ data['人口'].idxmin()])

人口最多的國家是 :  Thailand
人口最少的國家是 :  Korea